.vehicle-main-header {
  background-image: url(../../../public/assets/images/hearder_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 80px;

  .social-icons {
    display: absolute;
    height: 100%;
    width: 100%;
  }
}
