.dropzone {
  height: 500px;
  background: rgba(69, 69, 69, 0.5);
  border: 1px dashed #ffffff;
  border-radius: 10px;
  margin-bottom: 2rem;
  
  p {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.25rem;
    padding: 44px 53px;
    background-color: #1e1e1e;
    border-radius: 60px;
  }
}
