.trending-vehicles {
  margin-bottom: 85px;
  .title {
    letter-spacing: 0.25em;
    margin-bottom: 46px;
  }

  .vehicle-list {
    background: #1e1e1e;
    border: 1px solid #25d366;
    border-radius: 20px;
    margin-left: 204px;
    margin-right: 204px;
  }
}
