.user-investment {
  padding: 82px;

  .investment-title {
    font-size: 40px;
    letter-spacing: 0.17em;
    margin-bottom: 82px;
  }

  .investment-content {
    .showcase-one {
      .investments {
        margin-left: 3rem;
      }
    }
  }
}
