.estate-main-header-content {
  padding-top: 2rem;
  // padding-bottom: 2rem;
  .estate-main-header-title {
    letter-spacing: 0.25em;
    font-weight: 600;
    font-size: 52px;
    line-height: 16px;
    margin-bottom: 40px;
  }

  .desc {
    margin-right: 84px;
  }
  .details {
    > button {
      div {
        p:first-child {
          letter-spacing: 0.25rem;
        }
      }
      margin-bottom: 22px;
    }
  }
}
