.step-container {
  $root: '.step';
  #{$root}-header {
    margin-top: 122px;
    margin-bottom: 162px;
  }

  #{$root}-content {
    width: 45%;
    background-color: #1e1e1e;
    border: 2px solid #25d366;
    border-radius: 20px;
    margin-bottom: 86px;

    > div {
      width: 80%;
    }

    input,
    textarea {
      width: 100%;
      background-color: rgba(69, 69, 69, 0.5);
      border-radius: 10px;
      &:focus-visible {
        outline: none;
      }
      text-indent: 0.5rem;
    }
  }

  .action-buttons {
    button {
      border-radius: 20px;
      width: 180px;
      padding: 0.6rem;
      letter-spacing: 0.25em;
      font-weight: 700;

      &.back {
        background: #000000;
        border: 1px solid #25d366;
        margin-right: 132px;
      }

      &.continue {
        background: #25d366;
      }
    }
  }
}
