.header {
  padding: 4px 40px;
  color: white;
  border-bottom: 2px solid white;

  .nav-links {
    > div {
      margin-right: 40px;
    }
  }

  .setting-icon {
    margin-right: 26px;
  }
  .user-logo {
    align-self: flex-end;
    .user-avatar {
      margin-right: 12px;
    }
  }
}
