.header {
  padding: 12px 40px;
  color: white;
  border-bottom: 2px solid white;

  &:hover {
    cursor: pointer;
  }

  .nav-links {
    > div {
      margin-right: 40px;
    }
  }

  .setting-icon {
    margin-right: 26px;
  }
  .user-logo {
    align-self: flex-end;
    .user-avatar {
      margin-right: 12px;
    }
  }
}
