@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Inter;
  src: url(../public/assets/font/static/Inter-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Inter;
  src: url(../public/assets/font/static/Inter-Bold.ttf);
  font-weight: 600;
}

/* @font-face {
  font-family: Inter;
  src: url(../public/assets/font/static/Inter-Extrabold.ttf);
  font-weight: 700;
} */

* {
  font-family: 'Inter';
}
