.how-works {
  .title {
    letter-spacing: 0.25em;
    margin-bottom: 5rem;
  }

  .works-items {
    background: radial-gradient(
      52.94% 39.38% at 50% 50%,
      rgba(37, 211, 102, 0.4575) 0%,
      rgba(37, 211, 102, 0) 100%
    );
    opacity: 0.9;
  }
}
